ul {
    list-style-type: none;
    text-align: left;
    margin: 5px;
    padding: 0px;
    width: 475px;
    color: black 
}

li {
    padding: 10px;
    font-size: 18px;
}
.odd {
    background: #f1f1f1;
    background-size: 100px;
}

.even {
    background: #e1e1e1;
    background-size: 100px;
} 
